/* Updated CSS */
* {
  font-family: Product Sans;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0c0c0c;
  }

  .logo-wrapper h1,
  #uv-error-code {
    color: #fff;
  }

  form input {
    background: #222;
    border: 1px solid #222;
    color: #fff;
  }

  form input:focus,
  form input:hover {
    background: #222;
    border: 1px solid #222;
  }

  .left-margin,
  #uv-register-sw {
    color: #fff;
  }

  a,
  .bottomText {
    color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #fff;
  }

  .logo-wrapper h1,
  #uv-error-code {
    color: #000;
  }

  form input {
    background: #222;
    border: 1px solid #222;
    color: #fff;
  }

  form input:focus,
  form input:hover {
    background: #222;
    border: 1px solid #222;
  }

  .left-margin,
  #uv-register-sw {
    color: #000;
  }

  a,
  .bottomText {
    color: #000;
  }
}

body {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
}

.flex-center,
.header-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-center {
  margin-top: 10%;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #0c0c0c;
}

.center-margin {
  display: grid;
  place-items: center;
}

.left-margin {
  margin: 0 16px;
}

#uv-frame {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #111;
}

#uv-error {
  color: #ff6666 !important;
  white-space: pre-wrap;
}

#uv-error-code {
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
}

#uv-register-sw {
  color: #fff;
  background: #555;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 16px 20px;
  line-height: 16px;
  display: none;
}

#uv-register-sw:active {
  background: #333;
}

#uv-register-sw.show {
  display: block;
}

.logo {
  width: 150px;
  height: 150px;
}

form input {
  padding: 0 17px;
  height: 48px;
  width: 500px;
  margin-top: 5px;
  border-radius: 50px;
  outline: none;
  box-shadow: none;
  transition: none;
}

form input:focus,
form input:hover {
  box-shadow: none;
}

.bottomText {
  position: absolute;
  bottom: 10px;
  letter-spacing: 1px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Animations removed */
.dropIn,
.blurOut {
  animation: none;
}
